<div class="card">
    <p-table [columns]="column" [value]="jsonData" styleClass="p-datatable-gridlines" (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" >
                    {{ col.header }}
                    <p-button (click)="op.toggle($event)" icon="pi pi-filter" ></p-button>
                    <!-- <p-button (click)="'1'.toggle($event)" icon="pi pi-filter" ></p-button> -->
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <!-- <input type="text" [(ngModel)]="rowData[col.field]"> -->
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div>
    <button (click)="saveData()">Save</button>
</div>




<!-- Pop up option -->
<!-- @for (col of column; track $index) {
    <p-overlayPanel {{col}}>
        <div class="card flex justify-content-center">
            <div class="flex flex-column gap-2">
                <div *ngFor="let category of categories" class="field-checkbox">
                <p-checkbox (onChange)="changeValue(category)" [label]="category" name="group" [(ngModel)]="selectedCategories" [value]="category"></p-checkbox>
                </div>
            </div>
        </div>
    </p-overlayPanel>
} -->

<p-overlayPanel #op>
    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
            <div *ngFor="let category of categories" class="field-checkbox">
            <p-checkbox (onChange)="changeValue(category)" [label]="category" name="group" [(ngModel)]="selectedCategories" [value]="category"></p-checkbox>
            </div>
        </div>
    </div>
</p-overlayPanel>

