.active {
    background-color: rgb(213, 213, 236);
    border: 1px solid rgb(236, 10, 10);
    transition: background-color 0.3s ease; 
}

.full-body{
    background-color: beige;
    border: 1px solid #c8c8c8;
    padding: auto;
}

.single-div{
    background-color: #ffff;
    border: 1px solid #c8c8c8;
    padding: auto;
    height: 25px;
}