:host ::ng-deep .drag-column {
    padding-right: .5em;
}

:host ::ng-deep .drop-column {
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
}

.ui-g li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
}

.example-active {
    background-color: rgb(213, 213, 236);
    border: 1px solid rgb(236, 10, 10);
    transition: background-color 0.3s ease; 
}