<div class="card">
    <p-table [columns]="uniqueKeys" [value]="jsonData" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <input type="text" [(ngModel)]="rowData[col]">
                    <!-- {{ rowData[col.field] }} -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div>
    <button (click)="saveData()">Save</button>
</div>
